@font-face {
    font-family: "Berlin Sans FB";
    src: url('../fonts/Berlin Sans FB Regular.ttf') format("truetype");
}

html, body {
  height: 100%;

  background:  #ffffff  ;
  color:  #000000;
}

.text-columns {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  font-size: 18px;
}

#title, #intro {
  position: relative;
}

.branch.right {
  width: 100%;
  text-align: right;
}

h2 {
  font-size: 32px;
  font-family: "Berlin Sans FB";
}

#fireflies {
  position: relative;
}

#img-firefly {
  width: 50%;
  height: 50%;
}

iframe {
 width: 100%;
 height: auto;
}

@media (max-width: 800px) {
  .text-columns {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
}

@media (max-width: 500px) {
  .text-columns {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }
}
