html, body {
  height: 100%;

  background: #20254D;
  color: #fff;
}

.text-columns {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

#leafs {
  font-size: 0;
  white-space: nowrap;
  position: relative;

  height: 250px;

  overflow: hidden;
}

.leafsBg {
  background: #443115;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20%;
}

.leaf {
  width: 20px;
  position: absolute;
  bottom: 0;

  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;

  transform-origin: 50% 100%;
}

#root {
  height: 100%;
  position: absolute;
  right: 0;
}

#about {
  background: #443115;
  height: 100%;
}
